html,body{
   height: 100%;
   width: 100%;
}

.form-control:focus, .btn:focus, select:focus, .sombra {
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.form-check-input:focus, .btn-link:focus{
   box-shadow: none;
}

.arredondado{
   border-radius: 12px;
}

.maiuscula{
   text-transform: uppercase;
}

.maiorMod28{
   font-size: 28pt;
   color: black;
}

.maiorMod20{
   font-size: 20pt;
   color: black;
}

.maior14{
   font-size: 14pt;
}

.maior20{
   font-size: 20pt;
}

.maior28{
   font-size: 28pt;
}

h1{
   color: black;
   text-align: center;
}

select{
   height: calc(3.5rem + 2px);
}

.form-check-input{
   width: 22px;
   height: 22px;
   transition: 0.5s;
   border-color: black !important;
   box-shadow: none !important;
}

.form-check-label{
   color: rgba(0, 0, 0, 0.85) !important;
}

 input.form-control, select.form-select{
    border-color: black;
 }

 .azul{
    background-color: #005F97;
 }

 button{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
 }

 button:hover{
   -moz-transform: scale(1.03);
   -webkit-transform: scale(1.03);
   transform: scale(1.03);
}

 @media screen and (max-width:800px) {
    .some{
       visibility: hidden;
       display: none;
    }
 }
 
