/* único arquivo de css, pois a maior parte das formatações são feitas com bootstrap 
e as que são feitas aqui se repetem em vários arquivos */

/* tamanho de tela ocupada */
html,body{
   height: 100%;
   width: 100%;
}

/* Formulários, inputs, selects e botões */
.form-control:focus, .btn:focus, select:focus, .sombra {
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.form-check-input:focus, .btn-link:focus{
   box-shadow: none;
}

.form-check-input{
   width: 22px;
   height: 22px;
   transition: 0.5s;
   border-color: black !important;
   box-shadow: none !important;
}

.form-check-label{
   color: rgba(0, 0, 0, 0.85) !important;
}

 input.form-control, select.form-select{
    border-color: black;
 }

 select{
   height: calc(3.5rem + 2px);
}

 button{
   -moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
}

button:hover{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* Tamanhos de fonte */
.maiorMod28{
   font-size: 28pt;
   color: black;
}

.maiorMod16{
   font-size: 16pt;
   color: black;
}

.maior14{
   font-size: 14pt;
}

.maior16{
   font-size: 16pt;
}

.maior20{
   font-size: 20pt;
}

.maior28{
   font-size: 28pt;
}


.maiorDatasEstudante{
   font-size: 30pt;
}

/* miscelânea */
h1{
   color: black;
   text-align: center;
}

.arredondado{
   border-radius: 12px;
}

.maiuscula{
   text-transform: uppercase;
}

 .azul{
    background-color: #005F97;
 }

 .cinza{
    background-color: #D1D1CC;
 }

 

/* Específica para tela de documentos (esconde texto) */
.documeto{
   display: inline-block;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}

/* Responsividade */
 @media screen and (max-width:767px) {
    .some{
       visibility: hidden;
       display: none;
    }

    .maiorDatasEstudante{
      font-size: 27pt;
   }
 }
 
