html{
   height: 100%;
   width: 100%;
}

.form-control:focus, .btn:focus, select:focus, .sombra {
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.form-check-input:focus, .btn-link:focus{
   box-shadow: none;
}

.arredondado{
   border-radius: 12px;
}

.maior{
   font-size: 14pt;
}

h1{
   color: black;
   text-align: center;
}

select{
   height: calc(3.5rem + 2px);
}

.form-check-input{
   width: 22px;
   height: 22px;
   transition: 0.5s;
   border-color: black !important;
   box-shadow: none !important;
}

.form-check-label{
   color: rgba(0, 0, 0, 0.85) !important;
}

.maiuscula {
   text-transform: uppercase;
 }
 
 .maiuscula::-webkit-input-placeholder { /* Chrome, Safari */
   text-transform: none;
 }
 
 
 .maiuscula:-moz-placeholder { /* Firefox 18- */
   text-transform: none; 
 }
 
 .maiuscula::-moz-placeholder {  /* Firefox 19+ */
   text-transform: none;
 }
 
 .maiuscula:-ms-input-placeholder {  /* IE */
   text-transform: none; 
 }

 input.form-control, select.form-select{
    border-color: black;
 }

